Source: fusionpbx-app-ivr-menus
Section: user/www
Priority: extra
Maintainer: FusionPBX <debian@fusionpbx.com>
Standards-Version: 3.7.2
#XSBC-Bugtracker: mailto:r.neese@gmail.com

Package: fusionpbx-app-ivr-menus
Architecture: all
Depends: ${misc:Depends}
Description: Fusionpbx-app-ivr-menus: The IVR Menu plays a recording or a pre-defined phrase that presents the caller with options to choose from.
#XSBC-Bugtracker: mailto:r.neese@gmail.com
