Source: fusionpbx-app-sip-status
Section: user/www
Priority: extra
Maintainer: FusionPBX <debian@fusionpbx.com>
Standards-Version: 3.7.2
#XSBC-Bugtracker: mailto:r.neese@gmail.com

Package: fusionpbx-app-sip-status
Architecture: all
Depends: ${misc:Depends}
Description: Fusionpbx-app-sip-status:  Displays system information such status of the sip profiles and the status of registrations to providers
#XSBC-Bugtracker: mailto:r.neese@gmail.com
