Source: fusionpbx-app-phrases
Section: user/www
Priority: extra
Maintainer: Richard Neese <r.neese@gmail.com>
Standards-Version: 3.7.2
#XSBC-Bugtracker: mailto:r.neese@gmail.com

Package: fusionpbx-app-phrases
Architecture: all
Depends: ${misc:Depends}
Description: Fusionpbx-app-phrases: String freeswitch sounds files into phrases
#XSBC-Bugtracker: mailto:r.neese@gmail.com
