.project
.vscode
/phpinfo.php
resources/config.php
secure/mailto.bat
secure/*.db
secure/*.sqlite
.DS_Store

*.php~

app/provision/logs/
app/provision/calls/
app/provision/corefiles/
app/provision/directories/
app/provision/phoneconfigs/
app/device_logs/
app/replication/
app/applications/
app/call_center_notify/
app/dialplan_tools/
resources/templates/provision/algo/8186/
resources/templates/provision/algo/8196/
resources/templates/provision/algo/8189/
resources/templates/provision/algo/8188/
resources/templates/provision/avaya/
resources/templates/provision/cisco/8861/
resources/templates/provision/cisco/9861/
resources/templates/provision/fanvil/w611w/
resources/templates/provision/snom/C520/
resources/templates/provision/snom/C620/
resources/templates/provision/snom/D812/
resources/templates/provision/snom/D815/
resources/templates/provision/snom/D862/
resources/templates/provision/snom/D865/
resources/templates/provision/snom/PA1plus/
resources/templates/provision/grandstream/wp8x6/
resources/templates/provision/grandstream/wp826/
resources/templates/provision/yealink/ax83h/
resources/templates/provision/yealink/w80/
resources/templates/provision/yealink/t34w/

