.project
.vscode
/phpinfo.php
resources/config.php
secure/mailto.bat
secure/*.db
secure/*.sqlite
.DS_Store

*.php~

app/yealink/resources/firmware/*
app/provision/logs/
app/provision/calls/
app/provision/corefiles/
app/provision/directories/
app/provision/phoneconfigs/
app/email_queue/
