Source: fusionpbx-app-extensions
Section: user/www
Priority: extra
Maintainer: FusionPBX <debian@fusionpbx.com>
Standards-Version: 3.7.2
#XSBC-Bugtracker: mailto:r.neese@gmail.com

Package: fusionpbx-app-extensions
Architecture: all
Depends: ${misc:Depends}
Description: Fusionpbx-app-extensions: Used Configure SIP extensions. 
#XSBC-Bugtracker: mailto:r.neese@gmail.com
