<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/themes/default/css.php">
		<link rel='icon' href='/themes/default/favicon.ico'>
		<title>FusionPBX</title>
	</head>
	<body onload="">
		<div id="body" align="center">
			<div id="main_content" style="width: 70%; margin-top: 5%;">
				{$content}
			</div>
		</div>
	</body>
</html>
