Source: fusionpbx-app-follow-me
Section: user/www
Priority: extra
Maintainer: FusionPBX <debian@fusionpbx.com>
Standards-Version: 3.7.2
#XSBC-Bugtracker: mailto:r.neese@gmail.com

Package: fusionpbx-app-follow-me
Architecture: all
Depends: ${misc:Depends}
Description: Fusionpbx-app-follow-me:  Used to Follow a User from device to device rining them in order 
#XSBC-Bugtracker: mailto:r.neese@gmail.com
