Source: fusionpbx-provisioning-template-grandstream
Section: user/www
Priority: extra
Maintainer: FusionPBX <debian@fusionpbx.com>
Standards-Version: 3.7.2
#XSBC-Bugtracker: mailto:r.neese@gmail.com

Package: fusionpbx-provisioning-template-grandstream
Architecture: all
Depends: ${misc:Depends}
Description: Fusionpbx-provisioning-template-grandstream: Provisioning templates for grandstream sip phons  
#XSBC-Bugtracker: mailto:r.neese@gmail.com
