<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'>
<head>
<meta charset='utf-8'>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
<link rel='stylesheet' type='text/css' href='{$project_path}/themes/default/css.php'>
<title>{$login_title}</title>
<body>
	<!--
	<div class='action_bar' id='action_bar'>
		<div class='heading'><b>{$title_authentication_code}</b></div>
		<div class='actions'>\n";
		</div>
		<div style='clear: both;'></div>
	</div>
	-->
	<div id='page' align='center'>
		<div id='default_login'>
			<a href='{$project_path}/'><img id='login_logo' style='width: {$login_logo_width}; height: {$login_logo_height};' src='{$login_logo_source}'/></a><br />
			<form method='post' name='frm' action=''>
				<div>
					<input class='formfld' type='text' name='authentication_code' maxlength='255' placeholder="{$login_authentication_code}" value="{$authentication_code}">
					<br /><br />
					<!--
					{$description_authentication_code}
					<br /><br />
					-->
				</div>
				<div>
					<input type='hidden' name='{$token_name}' value='{$token_hash}'>
					<input type='submit' name='' class='btn' value='{$button_verify}'>
				</div>
			</form>
		</div>
	</div>
	<!--
	<div id='footer_login'>
		<span class='footer'>{$settings.theme.footer}</span>
	</div>
	-->
</body>
</html>