<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'>
	<head>
		<meta charset='utf-8' />
		<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
		<link rel='stylesheet' type='text/css' href='{$project_path}/themes/default/css.php' />
		<link rel='icon' href='{$favicon}'>
		<title>{$login_title}</title>
	</head>
	<body>
		<div id='page' align='center'>
			<div id='default_login' style='max-width: 400px;'>
				<a href='{$project_path}/'><img id='login_logo' style='width: {$login_logo_width}; height: {$login_logo_height};' src='{$login_logo_source}' /></a><br />
				<form method='post' name='frm' action=''>
					<div id='totp_qr' class='login_text'>
						{$totp_description}<br /><br />
						<img src="data:image/jpeg;base64,{$totp_image}" style='margin-top: 0px; padding: 5px; background: white; max-width: 100%;' /><br /><br />
						{$totp_secret}<br />
					</div>
					<div>
						<input type='submit' name='' class='btn' style='width: 100px; margin-top: 15px;' value='{$button_next}' />
					</div>
				</form>
			</div>
		</div>
	</body>
</html>