Source: fusionpbx-provisioning-template-linksys
Section: user/www
Priority: extra
Maintainer: FusionPBX <debian@fusionpbx.com>
Standards-Version: 3.7.2
#XSBC-Bugtracker: mailto:r.neese@gmail.com

Package: fusionpbx-provisioning-template-linksys
Architecture: all
Depends: ${misc:Depends}
Description: Fusionpbx-provisioning-template-linksys: Provisioning templates for linksys sip phons  
#XSBC-Bugtracker: mailto:r.neese@gmail.com
