Source: fusionpbx-provisioning-template-atcom
Section: user/www
Priority: extra
Maintainer: FusionPBX <debian@fusionpbx.com>
Standards-Version: 3.7.2
#XSBC-Bugtracker: mailto:r.neese@gmail.com

Package: fusionpbx-provisioning-template-atcom
Architecture: all
Depends: ${misc:Depends}
Description: Fusionpbx-provisioning-template-atcom: Provisioning templates for atcom sip phons  
#XSBC-Bugtracker: mailto:r.neese@gmail.com
