Source: fusionpbx-provisioning-template-mitel
Section: user/www
Priority: extra
Maintainer: FusionPBX <debian@fusionpbx.com>
Standards-Version: 3.7.2
#XSBC-Bugtracker: mailto:r.neese@gmail.com

Package: fusionpbx-provisioning-template-mitel
Architecture: all
Depends: ${misc:Depends}
Description: Fusionpbx-provisioning-template-mitel: Provisioning templates for mitel sip phons  
#XSBC-Bugtracker: mailto:r.neese@gmail.com
