Source: fusionpbx-theme-default
Section: user/www
Priority: extra
Maintainer: FusionPBX <debian@fusionpbx.com>
Standards-Version: 3.7.2
#XSBC-Bugtracker: mailto:r.neese@gmail.com

Package: fusionpbx-theme-default
Architecture: all
Depends: ${misc:Depends}
Description: Fusionpbx-theme-default: minimal theme for use the Web gui for controlling/administrating freeswitch softwitch 
#XSBC-Bugtracker: mailto:r.neese@gmail.com
