Source: fusionpbx-app-call-flows
Section: user/www
Priority: extra
Maintainer: FusionPBX <debian@fusionpbx.com>
Standards-Version: 3.7.2
#XSBC-Bugtracker: mailto:r.neese@gmail.com

Package: fusionpbx-app-call-flows
Architecture: all
Depends: ${misc:Depends}
Description: Fusionpbx:  Used to direct custom call flows 
#XSBC-Bugtracker: mailto:r.neese@gmail.com
