; Author: Mark J Crane <markjcrane@fusionpbx.com>
; cp /var/www/fusionpbx/app/xml_cdr/resources/service/debian.service /etc/systemd/system/xml_cdr.service
; systemctl daemon-reload
; systemctl enable xml_cdr
; systemctl start xml_cdr

[Unit]
Description=FusionPBX xml_cdr
Wants=network-online.target
Requires=network.target local-fs.target
;Requires=network.target local-fs.target postgresql.service
After=network.target network-online.target local-fs.target
;After=network.target network-online.target local-fs.target postgresql.service
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/var/www/fusionpbx
ExecStart=/usr/bin/php /var/www/fusionpbx/app/xml_cdr/resources/service/xml_cdr.php
RuntimeDirectory=fusionpbx
RuntimeDirectoryMode=0755
RuntimeDirectoryPreserve=yes
User=www-data
Group=www-data
TimeoutSec=55s
Restart=always

[Install]
WantedBy=multi-user.target
