# #################
# Reference Documenation
# #################
# http://miteldocs.com/cps/rde/aadownload/?proj=prod&dl_type=asset&dl_mode=1&dl_id=6425&hash=03e866dd58bfcca3c58ffaa67162d53a&fpart=_P06_XML&dsproject=aastra
# note: This file must contain something or the phone will not then grab the {$mac}.cfg