Source: fusionpbx-app-edit
Section: user/www
Priority: extra
Maintainer: FusionPBX <debian@fusionpbx.com>
Standards-Version: 3.7.2
#XSBC-Bugtracker: mailto:r.neese@gmail.com

Package: fusionpbx-app-edit
Architecture: all
Depends: ${misc:Depends}
Description: Fusionpbx-app-edit: Script Editor can be used to edit lua, javascript or other scripts.
#XSBC-Bugtracker: mailto:r.neese@gmail.com
