Source: fusionpbx-app-voicemail-greetings
Section: user/www
Priority: extra
Maintainer: FusionPBX <debian@fusionpbx.com>
Standards-Version: 3.7.2
#XSBC-Bugtracker: mailto:r.neese@gmail.com

Package: fusionpbx-app-voicemail-greetings
Architecture: all
Depends: ${misc:Depends}
Description: Fusionpbx-app-voicemail-greetings: Manager voicemail greetings for extensions
#XSBC-Bugtracker: mailto:r.neese@gmail.com
