Source: fusionpbx-app-tones
Section: user/www
Priority: extra
Maintainer: FusionPBX <debian@fusionpbx.com>
Standards-Version: 3.7.2
#XSBC-Bugtracker: mailto:r.neese@gmail.com

Package: fusionpbx-app-tones
Architecture: all
Depends: ${misc:Depends}
Description: Fusionpbx-app-tones:  Select Tone
#XSBC-Bugtracker: mailto:r.neese@gmail.com
