#!version:1.0.0.1

##File header "#!version:1.0.0.1" can not be edited or deleted.##

#Account.X Settings ,X Range from 1 to 100

{foreach $lines as $row}

#######################################################################################
##                                   Account1 Settings                               ##                                       
#######################################################################################

#Enable or disable the account; 0-Disabled (default), 1-Enabled;
#account.{$row.line_number}.enable = 

#Configure the label displayed on the LCD screen.
account.{$row.line_number}.label = {$row.label}

#Configure the display name.
account.{$row.line_number}.display_name = {$row.display_name}

#Configure the register user name.
account.{$row.line_number}.user_name = {$row.user_id}@{$row.server_address}

#Configure the username and password for register authentication.
account.{$row.line_number}.auth_name = {$row.auth_id}
account.{$row.line_number}.password = {$row.password}

#W80B ADD
account.{$row.line_number}.sip_server.template = 1
account.{$row.line_number}.media_transmit.enable = 

#######################################################################################
##                                  Failback                                         ##       
#######################################################################################
account.{$row.line_number}.sip_server.1.failback_mode = 0
account.{$row.line_number}.sip_server.1.failback_timeout = 3600
account.{$row.line_number}.sip_server.1.register_on_enable = 0
account.{$row.line_number}.sip_server.1.failback_subscribe.enable =
account.{$row.line_number}.sip_server.1.invite_retry_counts =
account.{$row.line_number}.sip_server.1.only_signal_with_registered =

account.{$row.line_number}.sip_server.2.failback_mode = 
account.{$row.line_number}.sip_server.2.failback_timeout = 
account.{$row.line_number}.sip_server.2.register_on_enable = 
account.{$row.line_number}.sip_server.2.failback_subscribe.enable =
account.{$row.line_number}.sip_server.2.invite_retry_counts =
account.{$row.line_number}.sip_server.2.only_signal_with_registered =

account.{$row.line_number}.naptr_build = 
account.{$row.line_number}.fallback.redundancy_type = 
account.{$row.line_number}.fallback.timeout = 10

account.{$row.line_number}.dns_cache_type = 
account.{$row.line_number}.static_cache_pri = 

#######################################################################################
##                                     Basic                                         ##                                       
#######################################################################################
#Enable or disable the anonymous call feature; 0-Disabled (default), 1-Enabled;
account.{$row.line_number}.anonymous_call = 

#Enable or disable the reject anonymous call feature; 0-Disabled (default), 1-Enabled;
account.{$row.line_number}.reject_anonymous_call = 

#Configure the on code and off code of the anonymous call feature.
account.{$row.line_number}.send_anonymous_code =
account.{$row.line_number}.anonymous_call_oncode = 
account.{$row.line_number}.anonymous_call_offcode = 

#Configure the on code and off code of the reject anonymous call feature.
account.{$row.line_number}.send_anonymous_rejection_code =
account.{$row.line_number}.anonymous_reject_oncode = 
account.{$row.line_number}.anonymous_reject_offcode = 


#######################################################################################
##                                   Codec                                           ##
#######################################################################################
account.{$row.line_number}.codec.g722.enable = {if isset($yealink_codec_g722_enable)}{$yealink_codec_g722_enable}{else}0{/if}

account.{$row.line_number}.codec.g722.priority = {if isset($yealink_codec_g722_priority)}{$yealink_codec_g722_priority}{else}0{/if}

account.{$row.line_number}.codec.g729.enable = {if isset($yealink_codec_g729_enable) && $yealink_codec_g729_enable}1{else}0{/if}
account.{$row.line_number}.codec.g729.priority = {if isset($yealink_codec_g729_priority)}{$yealink_codec_g729_priority}{else}0{/if}

account.{$row.line_number}.codec.g726_16.enable = {if isset($yealink_codec_g726_16_enable) && $yealink_codec_g726_16_enable}1{else}0{/if}
account.{$row.line_number}.codec.g726_16.priority = {if isset($yealink_codec_g726_16_priority)}{$yealink_codec_g726_16_priority}{else}0{/if}

account.{$row.line_number}.codec.g726_24.enable = {if isset($yealink_codec_g726_24_enable) && $yealink_codec_g726_24_enable}1{else}0{/if}
account.{$row.line_number}.codec.g726_24.priority = {if isset($yealink_codec_g726_24_priority)}{$yealink_codec_g726_24_priority}{else}0{/if}

account.{$row.line_number}.codec.g726_32.enable = {if isset($yealink_codec_g726_32_enable) && $yealink_codec_g726_32_enable}1{else}0{/if}
account.{$row.line_number}.codec.g726_32.priority = {if isset($yealink_codec_g726_32_priority)}{$yealink_codec_g726_32_priority}{else}0{/if}

account.{$row.line_number}.codec.g726_40.enable = {if isset($yealink_codec_g726_40_enable) && $yealink_codec_g726_40_enable}1{else}0{/if}
account.{$row.line_number}.codec.g726_40.priority = {if isset($yealink_codec_g726_40_priority)}{$yealink_codec_g726_40_priority}{else}0{/if}

account.{$row.line_number}.codec.ilbc.enable = {if isset($yealink_codec_ilbc_enable) && $yealink_codec_ilbc_enable}1{else}0{/if}
account.{$row.line_number}.codec.ilbc.priority = {if isset($yealink_codec_iLBC_priority)}{$yealink_codec_iLBC_priority}{else}0{/if}

account.{$row.line_number}.codec.pcmu.enable = {if isset($yealink_codec_pcmu_enable) && $yealink_codec_pcmu_enable}1{else}{0}{/if}
account.{$row.line_number}.codec.pcmu.priority = {if isset($yealink_codec_pcmu_priority)}{$yealink_codec_pcmu_priority}{else}0{/if}

account.{$row.line_number}.codec.pcma.enable = {if isset($yealink_codec_pcma_enable) && $yealink_codec_pcma_enable}1{else}{0}{/if}

account.{$row.line_number}.codec.pcma.priority = {if isset($yealink_codec_pcma_priority)}{$yealink_codec_pcma_priority}{else}0{/if}


account.{$row.line_number}.codec.opus.enable = {if isset($yealink_codec_opus_enable) && $yealink_codec_opus_enable}1{else}0{/if}
account.{$row.line_number}.codec.opus.priority = {if isset($yealink_codec_opus_priority)}{$yealink_codec_opus_priority}{else}0{/if}

#######################################################################################
##                                   NAT Settings                                    ##
#######################################################################################

#Enable or disable the NAT traversal; 0-Disabled (default), 1-STUN;
account.{$row.line_number}.nat.nat_traversal =

#Enable or disable the NAT keep-alive; 0-Disabled, 1-Enabled (default);
account.{$row.line_number}.nat.udp_update_enable = 3

#Specify the keep-alive interval (in seconds), the default value is 30.
account.{$row.line_number}.nat.udp_update_time = 30

#Enable or disable the NAT Rport; 0-Disabled (default), 1-Enabled;
account.{$row.line_number}.nat.rport = {$yealink_rport}

#######################################################################################
##                           Register Advanced                                       ##       
#######################################################################################

#Configure the period of BLF subscription(SCA、Call Park)
account.{$row.line_number}.blf.subscribe_period =

#Configure the DTMF type; 0-INBAND, 1-RFC2833 (default), 2-SIP INFO, 3-AUTO+SIP INFO;
account.{$row.line_number}.dtmf.type = {$yealink_dtmf_type}

#Configure the RFC2833 payload. It ranges from 96 to 225, the default value is 101.
account.{$row.line_number}.dtmf.dtmf_payload = 

#Configure the DTMF info type when using the SIP INFO; 0-Disabled, 1-DTMF-Relay (default), 2-DTMF, 3-Telephone-Event;
account.{$row.line_number}.dtmf.info_type = 

#Enable or disable the 100 reliable retransmission; 0-Disabled, 1-Enabled (default);
account.{$row.line_number}.100rel_enable = {$yealink_retransmission}

#Enable or disable the phone to subscribe the register status; 0-Disabled (default), 1-Enabled;
account.{$row.line_number}.subscribe_register =

#Enable or disable the phone to subscribe the message waiting indicator; 0-Disabled (default), 1-Enabled;
account.{$row.line_number}.subscribe_mwi = 

#Configure MWI subscribe expiry time (in seconds). It ranges from 0 to 84600, the default value is 3600.
account.{$row.line_number}.subscribe_mwi_expires = 

#Enable or disable the phone to subscribe to the voicemail through the message waiting indicator; 0-Disabled (default), 1-Enabled;
account.{$row.line_number}.subscribe_mwi_to_vm = 

voice_mail.number.1 = {$voicemail_number}

account.{$row.line_number}.display_mwi.enable = 

#Configure the type of SIP header to carry the caller ID; 0-FROM (default), 1-PAI;
account.{$row.line_number}.cid_source = {$yealink_cid_source}
account.{$row.line_number}.cid_source_privacy = 
account.{$row.line_number}.cid_source_ppi = 

#Enable or disable the session timer; 0-Disabled (default), 1-Enabled;  
account.{$row.line_number}.session_timer.enable = {$yealink_session_timer}

#Configure the refresh session timer interval (in seconds). It ranges from 1 to 9999.
account.{$row.line_number}.session_timer.expires =           

#Configure the session timer refresher; 0-Uac (default), 1-Uas;
account.{$row.line_number}.session_timer.refresher = 

#Enable or disable the "user=phone"; 0-Disabled (default), 1-Enabled;
account.{$row.line_number}.enable_user_equal_phone = 

#Configure the way of encrypting the message; 0-Disabled (default), 1-Forced, 2-Negotiated;
account.{$row.line_number}.srtp_encryption = {$yealink_srtp_encryption}

#Configure the RTP packet time. The valid values are 0 (Disabled), 10, 20 (default), 30, 40, 50, 60.
account.{$row.line_number}.ptime = 20

account.{$row.line_number}.shared_line = {$shared_line_1}

#Enable or disable the phone to send the MAC address in the Register message; 0-Disabled (default), 1-Enabled;    
account.{$row.line_number}.register_mac =

#Enable or disable the phone to send the line number in the Register message; 0-Disabled, 1-Enabled (default);   
account.{$row.line_number}.register_line = 

#Configure the interval (in seconds) the phone retries to register when account fails to register. It ranges from 0 to 1800, the default value is 30.
account.{$row.line_number}.reg_fail_retry_interval = 

account.{$row.line_number}.reg_failed_retry_min_time =
account.{$row.line_number}.reg_failed_retry_max_time =

#######################################################################################
##                                   Network Conference                              ##                                       
#######################################################################################
account.{$row.line_number}.conf_type = {if $nway_conference == 'true'}2{elseif $nway_conference == 'false'}0{/if}
account.{$row.line_number}.conf_uri = {if $nway_conference == 'true'}nway{$row.auth_id}@{$row.server_address}{/if}

account.{$row.line_number}.sip_server_type = 
account.{$row.line_number}.unregister_on_reboot = 1


#######################################################################################
##                           Register Other                                          ##       
#######################################################################################
##DECT V81 Add
account.{$row.line_number}.simultaneous_outgoing.num =

account.{$row.line_number}.register_expires_overlap =
account.{$row.line_number}.subscribe_expires_overlap =
account.{$row.line_number}.auto_dial_enable = 
account.{$row.line_number}.auto_dial_num = 
account.{$row.line_number}.cp_source = {$yealink_cp_source}
account.{$row.line_number}.transfer_refer_to_contact_header.enable =
#V80 Add
account.{$row.line_number}.custom_ua =
account.{$row.line_number}.callpark_enable =
account.{$row.line_number}.check_cseq.enable = 
account.{$row.line_number}.check_to_tag.enable =
account.{$row.line_number}.hold_use_inactive = 
account.{$row.line_number}.line_seize.expires =
account.{$row.line_number}.update_ack_while_dialing =
account.{$row.line_number}.sub_fail_retry_interval =

#######################################################################################
##         	                   Call Forward                                          ##               
#######################################################################################
#Enable or disable the always forward, 0-Disabled(default), 1-Enabled;
account.{$row.line_number}.always_fwd.enable = 

#Configure the target phonenumber that the phone will forward the call to;
account.{$row.line_number}.always_fwd.target = 

#Configure the on/off code for always forward;
account.{$row.line_number}.always_fwd.off_code =
account.{$row.line_number}.always_fwd.on_code =


#Enable or disable the busy forward, 0-Disabled(default), 1-Enabled;
account.{$row.line_number}.busy_fwd.enable =         
account.{$row.line_number}.busy_fwd.target = 

account.{$row.line_number}.busy_fwd.off_code =
account.{$row.line_number}.busy_fwd.on_code =


#Enable or disable the no answer forward, 0-Disabled(default), 1-Enabled; 
#Configure the waiting ring times before forwarding, ranges from 0 to 20 (by default);
account.{$row.line_number}.timeout_fwd.enable = 
account.{$row.line_number}.timeout_fwd.target =
account.{$row.line_number}.timeout_fwd.timeout =  

account.{$row.line_number}.timeout_fwd.off_code =
account.{$row.line_number}.timeout_fwd.on_code = 

#######################################################################################
##                          DND                                                      ##                                       
#######################################################################################

#Enable or disable the DND feautre; 0-Disabled (default), 1-Enabled;
account.{$row.line_number}.dnd.enable = 

#Configure the DND on code and off code.
account.{$row.line_number}.dnd.on_code = 
account.{$row.line_number}.dnd.off_code =

#######################################################################################
##         Broadsoft XSI                                                             ##      
#######################################################################################

##It configures the user name for XSI authentication.
##The default value is blank.
account.{$row.line_number}.xsi.user =  

##It configures the password for XSI authentication.
##The default value is blank.
account.{$row.line_number}.xsi.password = 

##It configures the access URL of the Xtended Services Platform server.
##The default value is blank.
account.{$row.line_number}.xsi.host = 

##It configures the server type of the Xtended Services Platform server.
##The default value is http.
account.{$row.line_number}.xsi.server_type = 

##It configures the server port of the Xtended Services Platform server.
##The default value is 80.Integer from 1 to 65535
account.{$row.line_number}.xsi.port = 
