Source: fusionpbx-app-xml-cdr
Section: user/www
Priority: extra
Maintainer: FusionPBX <debian@fusionpbx.com>
Standards-Version: 3.7.2
#XSBC-Bugtracker: mailto:r.neese@gmail.com

Package: fusionpbx-app-xml-cdr
Architecture: all
Depends: ${misc:Depends}
Description: Fusionpbx-app-xml-cdr: Call Detail Records with all information about the call. 
#XSBC-Bugtracker: mailto:r.neese@gmail.com
