<?xml version="1.0"?>
<options>
  <general>
    <account></account>
    <auto_away>180</auto_away>
    <minimize_to_tray>false</minimize_to_tray>
    <minimize_on_close>false</minimize_on_close>
    <record_calls>false</record_calls>
    <record_path></record_path>
    <record_filename></record_filename>
    <always_on_top>true</always_on_top>
    <reject_anonymous_calls>false</reject_anonymous_calls>
    <auto_reject_calls>false</auto_reject_calls>
    <reject_call_on_invisible>false</reject_call_on_invisible>
    <reject_call_on_away>false</reject_call_on_away>
    <reject_call_on_busy>false</reject_call_on_busy>
    <reject_call_on_phone>false</reject_call_on_phone>
    <reject_call_on_lunch>false</reject_call_on_lunch>
    <reject_call_on_brb>false</reject_call_on_brb>
    <new_call_auto_popup>true</new_call_auto_popup>
    <new_call_blink>true</new_call_blink>
    <command_line_call_auto_popup>false</command_line_call_auto_popup>
    <command_line_call_blink>false</command_line_call_blink>
    <check_for_updates>true</check_for_updates>
    <catch_protocol_requests>true</catch_protocol_requests>
    <integrate_into_outlook>true</integrate_into_outlook>
    <add_to_firewall>true</add_to_firewall>
    <start_with_os>false</start_with_os>
    <start_minimized>false</start_minimized>
    <use_custom_browser>false</use_custom_browser>
    <custom_browser></custom_browser>
    <on_transfer_request_style>reject</on_transfer_request_style>
    <open_url_from_network>false</open_url_from_network>
    <automatic_open_url_from_network>false</automatic_open_url_from_network>
    <error_message_options/>
  </general>
  <audio>
    <input_device></input_device>
    <output_device></output_device>
    <ringing_device></ringing_device>
    <speaker_input_device></speaker_input_device>
    <speaker_device></speaker_device>
    <use_mic_boost>false</use_mic_boost>
    <use_echo_cancellation>true</use_echo_cancellation>
    <ring_tone_file></ring_tone_file>
    <pc_speaker_ring>false</pc_speaker_ring>
    <mute_on_early_media>false</mute_on_early_media>
    <ring_when_talking>true</ring_when_talking>
    <disable_dtmf_sounds>false</disable_dtmf_sounds>
    <input_volume>50</input_volume>
    <output_volume>50</output_volume>
    <use_alternate_timer>false</use_alternate_timer>
    <use_auto_mic_selection>false</use_auto_mic_selection>
    <use_agc>true</use_agc>
    <use_noise_suppression>true</use_noise_suppression>
    <disable_ringing_sound>false</disable_ringing_sound>
  </audio>
  <codecs>
    <codec>
      <codec_id>35</codec_id>
      <priority>1</priority>
      <enabled>true</enabled>
      <bps>0</bps>
      <dtx>false</dtx>
      <vbr>false</vbr>
    </codec>
    <codec>
      <codec_id>39</codec_id>
      <priority>2</priority>
      <enabled>true</enabled>
      <bps>0</bps>
      <dtx>false</dtx>
      <vbr>false</vbr>
    </codec>
    <codec>
      <codec_id>7</codec_id>
      <priority>3</priority>
      <enabled>true</enabled>
      <bps>0</bps>
      <dtx>false</dtx>
      <vbr>false</vbr>
    </codec>
    <codec>
      <codec_id>34</codec_id>
      <priority>4</priority>
      <enabled>true</enabled>
      <bps>0</bps>
      <dtx>false</dtx>
      <vbr>false</vbr>
    </codec>
    <codec>
      <codec_id>38</codec_id>
      <priority>5</priority>
      <enabled>true</enabled>
      <bps>0</bps>
      <dtx>false</dtx>
      <vbr>false</vbr>
    </codec>
    <codec>
      <codec_id>16</codec_id>
      <priority>6</priority>
      <enabled>true</enabled>
      <bps>0</bps>
      <dtx>false</dtx>
      <vbr>false</vbr>
    </codec>
    <codec>
      <codec_id>1</codec_id>
      <priority>7</priority>
      <enabled>true</enabled>
      <bps>0</bps>
      <dtx>false</dtx>
      <vbr>false</vbr>
    </codec>
    <codec>
      <codec_id>25</codec_id>
      <priority>8</priority>
      <enabled>true</enabled>
      <bps>0</bps>
      <dtx>false</dtx>
      <vbr>false</vbr>
    </codec>
    <codec>
      <codec_id>0</codec_id>
      <priority>9</priority>
      <enabled>true</enabled>
      <bps>0</bps>
      <dtx>false</dtx>
      <vbr>false</vbr>
    </codec>
    <codec>
      <codec_id>6</codec_id>
      <priority>10</priority>
      <enabled>true</enabled>
      <bps>0</bps>
      <dtx>false</dtx>
      <vbr>false</vbr>
    </codec>
    <codec>
      <codec_id>28</codec_id>
      <priority>11</priority>
      <enabled>true</enabled>
      <bps>0</bps>
      <dtx>false</dtx>
      <vbr>false</vbr>
    </codec>
    <codec>
      <codec_id>27</codec_id>
      <priority>12</priority>
      <enabled>true</enabled>
      <bps>0</bps>
      <dtx>false</dtx>
      <vbr>false</vbr>
    </codec>
    <codec>
      <codec_id>24</codec_id>
      <priority>13</priority>
      <enabled>true</enabled>
      <bps>0</bps>
      <dtx>false</dtx>
      <vbr>false</vbr>
    </codec>
    <codec>
      <codec_id>26</codec_id>
      <priority>14</priority>
      <enabled>true</enabled>
      <bps>0</bps>
      <dtx>false</dtx>
      <vbr>false</vbr>
    </codec>
    <codec>
      <codec_id>29</codec_id>
      <priority>15</priority>
      <enabled>true</enabled>
      <bps>0</bps>
      <dtx>false</dtx>
      <vbr>false</vbr>
    </codec>
    <codec>
      <codec_id>36</codec_id>
      <priority>16</priority>
      <enabled>true</enabled>
      <bps>0</bps>
      <dtx>false</dtx>
      <vbr>false</vbr>
    </codec>
    <codec>
      <codec_id>37</codec_id>
      <priority>17</priority>
      <enabled>true</enabled>
      <bps>0</bps>
      <dtx>false</dtx>
      <vbr>false</vbr>
    </codec>
    <codec>
      <codec_id>31</codec_id>
      <priority>1001</priority>
      <enabled>true</enabled>
      <bps>0</bps>
      <dtx>false</dtx>
      <vbr>false</vbr>
    </codec>
    <codec>
      <codec_id>32</codec_id>
      <priority>1002</priority>
      <enabled>true</enabled>
      <bps>0</bps>
      <dtx>false</dtx>
      <vbr>false</vbr>
    </codec>
    <codec>
      <codec_id>30</codec_id>
      <priority>1003</priority>
      <enabled>true</enabled>
      <bps>0</bps>
      <dtx>false</dtx>
      <vbr>false</vbr>
    </codec>
  </codecs>
  <accounts>
    <account>
      <ident></ident>
      <name>{$account.1.display_name}</name>
      <save_username>true</save_username>
      <username>{$account.1.auth_id}</username>
      <save_password>true</save_password>
      <password>{$account.1.user_password}</password>
      <register_on_startup>true</register_on_startup>
      <do_not_play_ringback_tones>false</do_not_play_ringback_tones>
      <voicemail_check_extension>{$voicemail_number}</voicemail_check_extension>
      <voicemail_transfer_extension>*99</voicemail_transfer_extension>
      <force_rfc3264>false</force_rfc3264>
      <use_kpml>false</use_kpml>
      <use_overlap_dialing>false</use_overlap_dialing>
      <use_custom_ringtone>false</use_custom_ringtone>
      <custom_ringtone_location></custom_ringtone_location>
      <use_custom_certificate>none</use_custom_certificate>
      <custom_certificate_location></custom_certificate_location>
      <custom_certificate></custom_certificate>
      <mwi_subscribe_usage>both</mwi_subscribe_usage>
      <use_number_rewriting>false</use_number_rewriting>
      <number_rewriting_country>US</number_rewriting_country>
      <number_rewriting_prefix></number_rewriting_prefix>
      <use_strip_dial_chars>true</use_strip_dial_chars>
      <strip_dial_chars> .-()[]{}</strip_dial_chars>
      <protocol>sip</protocol>
      <SIP_domain>{$account.1.server_address}</SIP_domain>
      <SIP_use_outbound_proxy>false</SIP_use_outbound_proxy>
      <SIP_outbound_proxy></SIP_outbound_proxy>
      <SIP_transport_type>udp</SIP_transport_type>
      <SIP_use_auth_username>false</SIP_use_auth_username>
      <SIP_auth_username></SIP_auth_username>
      <SIP_callerId></SIP_callerId>
      <SIP_callerNumber></SIP_callerNumber>
      <SIP_use_rport>true</SIP_use_rport>
      <SIP_use_rport_media>false</SIP_use_rport_media>
      <SIP_srtp_mode>none</SIP_srtp_mode>
      <SIP_dtmf_style>outband</SIP_dtmf_style>
      <SIP_use_blf>true</SIP_use_blf>
      <SIP_publish_presence>true</SIP_publish_presence>
      <SIP_subscribe_presence>true</SIP_subscribe_presence>
      <SIP_keep_alive_mode>disabled</SIP_keep_alive_mode>
      <SIP_keep_alive_timeout>30</SIP_keep_alive_timeout>
      <SIP_use_cisco>false</SIP_use_cisco>
      <SIP_cisco_device_name></SIP_cisco_device_name>
      <enabled_video_fmtp>true</enabled_video_fmtp>
      <codecs>
        <codec>
          <codec_id>6</codec_id>
          <priority>0</priority>
          <enabled>true</enabled>
          <bps>0</bps>
          <dtx>false</dtx>
          <vbr>false</vbr>
        </codec>
        <codec>
          <codec_id>7</codec_id>
          <priority>1</priority>
          <enabled>true</enabled>
          <bps>0</bps>
          <dtx>false</dtx>
          <vbr>false</vbr>
        </codec>
        <codec>
          <codec_id>16</codec_id>
          <priority>2</priority>
          <enabled>true</enabled>
          <bps>0</bps>
          <dtx>false</dtx>
          <vbr>false</vbr>
        </codec>
        <codec>
          <codec_id>39</codec_id>
          <priority>2</priority>
          <enabled>true</enabled>
          <bps>0</bps>
          <dtx>false</dtx>
          <vbr>false</vbr>
        </codec>
        <codec>
          <codec_id>38</codec_id>
          <priority>5</priority>
          <enabled>true</enabled>
          <bps>0</bps>
          <dtx>false</dtx>
          <vbr>false</vbr>
        </codec>
        <codec>
          <codec_id>0</codec_id>
          <priority>7</priority>
          <enabled>true</enabled>
          <bps>0</bps>
          <dtx>false</dtx>
          <vbr>false</vbr>
        </codec>
        <codec>
          <codec_id>28</codec_id>
          <priority>8</priority>
          <enabled>true</enabled>
          <bps>0</bps>
          <dtx>false</dtx>
          <vbr>false</vbr>
        </codec>
        <codec>
          <codec_id>27</codec_id>
          <priority>9</priority>
          <enabled>true</enabled>
          <bps>0</bps>
          <dtx>false</dtx>
          <vbr>false</vbr>
        </codec>
        <codec>
          <codec_id>35</codec_id>
          <priority>1000</priority>
          <enabled>false</enabled>
          <bps>0</bps>
          <dtx>false</dtx>
          <vbr>false</vbr>
        </codec>
        <codec>
          <codec_id>34</codec_id>
          <priority>1000</priority>
          <enabled>false</enabled>
          <bps>0</bps>
          <dtx>false</dtx>
          <vbr>false</vbr>
        </codec>
        <codec>
          <codec_id>1</codec_id>
          <priority>1000</priority>
          <enabled>false</enabled>
          <bps>0</bps>
          <dtx>false</dtx>
          <vbr>false</vbr>
        </codec>
        <codec>
          <codec_id>25</codec_id>
          <priority>1000</priority>
          <enabled>false</enabled>
          <bps>0</bps>
          <dtx>false</dtx>
          <vbr>false</vbr>
        </codec>
        <codec>
          <codec_id>24</codec_id>
          <priority>1000</priority>
          <enabled>false</enabled>
          <bps>0</bps>
          <dtx>false</dtx>
          <vbr>false</vbr>
        </codec>
        <codec>
          <codec_id>26</codec_id>
          <priority>1000</priority>
          <enabled>false</enabled>
          <bps>0</bps>
          <dtx>false</dtx>
          <vbr>false</vbr>
        </codec>
        <codec>
          <codec_id>29</codec_id>
          <priority>1000</priority>
          <enabled>false</enabled>
          <bps>0</bps>
          <dtx>false</dtx>
          <vbr>false</vbr>
        </codec>
        <codec>
          <codec_id>36</codec_id>
          <priority>1000</priority>
          <enabled>false</enabled>
          <bps>0</bps>
          <dtx>false</dtx>
          <vbr>false</vbr>
        </codec>
        <codec>
          <codec_id>37</codec_id>
          <priority>1000</priority>
          <enabled>false</enabled>
          <bps>0</bps>
          <dtx>false</dtx>
          <vbr>false</vbr>
        </codec>
        <codec>
          <codec_id>31</codec_id>
          <priority>1001</priority>
          <enabled>true</enabled>
          <bps>0</bps>
          <dtx>false</dtx>
          <vbr>false</vbr>
        </codec>
        <codec>
          <codec_id>32</codec_id>
          <priority>1002</priority>
          <enabled>true</enabled>
          <bps>0</bps>
          <dtx>false</dtx>
          <vbr>false</vbr>
        </codec>
        <codec>
          <codec_id>30</codec_id>
          <priority>1003</priority>
          <enabled>true</enabled>
          <bps>0</bps>
          <dtx>false</dtx>
          <vbr>false</vbr>
        </codec>
      </codecs>
      <stun>
        <use_stun>default</use_stun>
        <stun_host>stun.zoiper.com</stun_host>
        <stun_port>3478</stun_port>
        <stun_refresh_period>30</stun_refresh_period>
      </stun>
      <zrtp>
        <enabled>false</enabled>
        <hash_algorithms>
          <hash_algorithm>
            <name>S256</name>
            <id>0</id>
            <priority>0</priority>
            <selected>true</selected>
          </hash_algorithm>
          <hash_algorithm>
            <name>S384</name>
            <id>1</id>
            <priority>1</priority>
            <selected>true</selected>
          </hash_algorithm>
        </hash_algorithms>
        <cipher_algorithms>
          <hash_algorithm>
            <name>AES3</name>
            <id>2</id>
            <priority>0</priority>
            <selected>true</selected>
          </hash_algorithm>
          <hash_algorithm>
            <name>AES2</name>
            <id>1</id>
            <priority>1</priority>
            <selected>true</selected>
          </hash_algorithm>
          <hash_algorithm>
            <name>AES1</name>
            <id>0</id>
            <priority>2</priority>
            <selected>true</selected>
          </hash_algorithm>
        </cipher_algorithms>
        <auth_tags>
          <hash_algorithm>
            <name>HS32</name>
            <id>0</id>
            <priority>0</priority>
            <selected>true</selected>
          </hash_algorithm>
          <hash_algorithm>
            <name>HS80</name>
            <id>1</id>
            <priority>1</priority>
            <selected>true</selected>
          </hash_algorithm>
        </auth_tags>
        <key_agreement_methods>
          <hash_algorithm>
            <name>DH2K</name>
            <id>1</id>
            <priority>0</priority>
            <selected>true</selected>
          </hash_algorithm>
          <hash_algorithm>
            <name>EC25</name>
            <id>2</id>
            <priority>1</priority>
            <selected>true</selected>
          </hash_algorithm>
          <hash_algorithm>
            <name>DH3K</name>
            <id>0</id>
            <priority>2</priority>
            <selected>true</selected>
          </hash_algorithm>
          <hash_algorithm>
            <name>EC38</name>
            <id>3</id>
            <priority>3</priority>
            <selected>true</selected>
          </hash_algorithm>
        </key_agreement_methods>
        <sas_encodings>
          <hash_algorithm>
            <name>B256</name>
            <id>1</id>
            <priority>0</priority>
            <selected>true</selected>
          </hash_algorithm>
          <hash_algorithm>
            <name>B32</name>
            <id>0</id>
            <priority>1</priority>
            <selected>true</selected>
          </hash_algorithm>
        </sas_encodings>
      </zrtp>
      <reregistration_mode>default</reregistration_mode>
      <reregistration_time>0</reregistration_time>
      <resubscription_mode>default</resubscription_mode>
      <resubscription_time>0</resubscription_time>
      <send_typing_notification>true</send_typing_notification>
      <rtcp_profile_type>avp</rtcp_profile_type>
    </account>
  </accounts>
  <sip_options>
    <port>5060</port>
    <use_random_port>true</use_random_port>
    <tls_certificate_file></tls_certificate_file>
    <override_domain_name>false</override_domain_name>
    <domain></domain>
    <use_domain_certificate>false</use_domain_certificate>
    <domain_certificate_file></domain_certificate_file>
    <use_only_strong_cipher>false</use_only_strong_cipher>
    <protocol_suite>sslv23</protocol_suite>
  </sip_options>
  <iax_options>
    <port>4569</port>
  </iax_options>
  <rtp_options>
    <port>8000</port>
    <use_random_port>false</use_random_port>
    <session_name>Z</session_name>
    <user_name>Z</user_name>
    <url>http://www.zoiper.com</url>
    <email>sales@zoiper.com</email>
  </rtp_options>
  <stun>
    <use_stun>disabled</use_stun>
    <stun_host>stun.zoiper.com</stun_host>
    <stun_port>3478</stun_port>
    <stun_refresh_period>30</stun_refresh_period>
  </stun>
  <diagnostics>
    <enable_debug_log>false</enable_debug_log>
    <enable_extra_dmp>false</enable_extra_dmp>
    <enable_audio_debug>false</enable_audio_debug>
  </diagnostics>
  <network>
    <signal_dscp>CS0</signal_dscp>
    <media_dscp>CS0</media_dscp>
  </network>
  <chat>
    <play_sound>false</play_sound>
    <hide_offline>false</hide_offline>
    <new_message_auto_popup>false</new_message_auto_popup>
    <new_message_blink>false</new_message_blink>
    <new_message_sound_file>NewMessage.wav</new_message_sound_file>
  </chat>
  <provision>
    <remember_username_password>false</remember_username_password>
    <login_automatically>false</login_automatically>
    <provisioned>false</provisioned>
  </provision>
  <popup>
    <check_for_focus>true</check_for_focus>
    <peer_status>false</peer_status>
    <im>false</im>
    <call>false</call>
    <voice_mail>false</voice_mail>
    <audio_device>false</audio_device>
    <network>false</network>
    <remote_call>true</remote_call>
    <use_native_popups>true</use_native_popups>
    <auto_close_time>15</auto_close_time>
  </popup>
  <video>
    <camera_device>Integrated Camera</camera_device>
    <capture_width>0</capture_width>
    <capture_height>480</capture_height>
    <capture_fps>5fps</capture_fps>
    <bit_rate>256000</bit_rate>
    <always_accept_video>false</always_accept_video>
  </video>
  <skin>
    <selected>Default</selected>
  </skin>
  <forwarding_and_auto_answer>
    <mode>answer_instant</mode>
    <forward_seconds>30</forward_seconds>
    <forward_extension></forward_extension>
    <autoanswer_seconds>30</autoanswer_seconds>
    <play_sound_on_auto_answer>true</play_sound_on_auto_answer>
    <auto_answer_keep_setting>false</auto_answer_keep_setting>
    <auto_answer_with_video>false</auto_answer_with_video>
    <accept_server_auto_answer>false</accept_server_auto_answer>
  </forwarding_and_auto_answer>
  <open_url_on_event/>
  <gui>
    <switch_contact_on_transfer>false</switch_contact_on_transfer>
    <enable_chat_support>true</enable_chat_support>
    <collapse_on_hangup>false</collapse_on_hangup>
    <language>en_US</language>
    <skin>default</skin>
    <background></background>
    <auto_focus_window_on_incoming_chat>true</auto_focus_window_on_incoming_chat>
    <auto_focus_window_on_incoming_call>true</auto_focus_window_on_incoming_call>
    <custom_properties type="subtree">
      <enable_animations type="boolean">true</enable_animations>
      <exit_on_close type="boolean">true</exit_on_close>
      <devices_tested type="boolean">true</devices_tested>
      <dismissed_window_collapse_hint type="boolean">true</dismissed_window_collapse_hint>
      <background_side_pane_only type="boolean">false</background_side_pane_only>
      <background_blur_effect type="boolean">false</background_blur_effect>
      <disable_avatars type="boolean">true</disable_avatars>
      <enable_chat_balloons type="boolean">true</enable_chat_balloons>
      <enable_compact_mode type="boolean">true</enable_compact_mode>
    </custom_properties>
    <show_upgrade_wizard>true</show_upgrade_wizard>
  </gui>
  <profile>
    <last_online_manual_state>online</last_online_manual_state>
  </profile>
  <contact_services>
    <contact_service>
      <ident>ContactServiceLocal</ident>
      <name>Zoiper5 Contact Service</name>
      <type>local</type>
      <enabled>true</enabled>
      <account_mapping_type>default</account_mapping_type>
      <account_ident></account_ident>
      <presence_account_mapping_type>custom</presence_account_mapping_type>
      <presence_account_ident></presence_account_ident>
      <hide_contacts_without_name>false</hide_contacts_without_name>
      <hide_contacts_without_phone>false</hide_contacts_without_phone>
      <restart_time>30</restart_time>
    </contact_service>
    <contact_service>
      <ident></ident>
      <name>Windows Contacts Service</name>
      <type>windows</type>
      <enabled>false</enabled>
      <account_mapping_type>default</account_mapping_type>
      <account_ident></account_ident>
      <presence_account_mapping_type>none</presence_account_mapping_type>
      <presence_account_ident></presence_account_ident>
      <hide_contacts_without_name>false</hide_contacts_without_name>
      <hide_contacts_without_phone>false</hide_contacts_without_phone>
      <restart_time>30</restart_time>
    </contact_service>
    <contact_service>
      <ident></ident>
      <name>XML Contact Service 1</name>
      <type>xml</type>
      <enabled>true</enabled>
      <account_mapping_type>default</account_mapping_type>
      <account_ident></account_ident>
      <presence_account_mapping_type>custom</presence_account_mapping_type>
      <presence_account_ident></presence_account_ident>
      <hide_contacts_without_name>false</hide_contacts_without_name>
      <hide_contacts_without_phone>false</hide_contacts_without_phone>
      <restart_time>30</restart_time>
      <uri>https://{$account.1.server_address}/app/provision/?file=directory.xml&amp;mac={$mac}</uri>
      <username></username>
      <password></password>
      <auth_type>basic</auth_type>
    </contact_service>
    <contact_service>
      <ident></ident>
      <name>Outlook Contact Service 1</name>
      <type>outlook</type>
      <enabled>{$zoiper_contact_service_outlook_enabled}</enabled>
      <account_mapping_type>default</account_mapping_type>
      <account_ident></account_ident>
      <presence_account_mapping_type>custom</presence_account_mapping_type>
      <presence_account_ident></presence_account_ident>
      <hide_contacts_without_name>true</hide_contacts_without_name>
      <hide_contacts_without_phone>true</hide_contacts_without_phone>
      <restart_time>30</restart_time>
      <profile>{$zoiper_contact_service_outlook_profile}</profile>
      <password></password>
    </contact_service>
  </contact_services>
  <activation>
    <username></username>
  </activation>
  <google_analytics>
    <ident></ident>
    <enabled>false</enabled>
    <queue_message_count>10</queue_message_count>
  </google_analytics>
  <crash_handler>
    <enabled>true</enabled>
    <upload_dumps>true</upload_dumps>
  </crash_handler>
  <hid>
    <use_generic_hid>true</use_generic_hid>
    <use_jabra_hid>true</use_jabra_hid>
    <use_plantronics_hid>true</use_plantronics_hid>
    <use_sennheiser_hid>true</use_sennheiser_hid>
  </hid>
  <proxy>
    <mode>disabled</mode>
    <custom_proxy>
      <hostname></hostname>
      <port>0</port>
    </custom_proxy>
  </proxy>
  <history>
    <limit_mode>default</limit_mode>
    <limit>2000</limit>
    <allowed_overflow_percent_mode>default</allowed_overflow_percent_mode>
    <allowed_overflow_percent>20</allowed_overflow_percent>
  </history>
</options>
