Source: fusionpbx-app-system
Section: user/www
Priority: extra
Maintainer: FusionPBX <debian@fusionpbx.com>
Standards-Version: 3.7.2
#XSBC-Bugtracker: mailto:r.neese@gmail.com

Package: fusionpbx-app-system
Architecture: all
Depends: ${misc:Depends}
Description: Fusionpbx-app-system: Displays information for CPU, HDD, RAM and more
#XSBC-Bugtracker: mailto:r.neese@gmail.com
