Source: fusionpbx-app-tftp
Section: user/www
Priority: extra
Maintainer: FusionPBX <debian@fusionpbx.com>
Standards-Version: 3.7.2
#XSBC-Bugtracker: mailto:r.neese@gmail.com

Package: fusionpbx-app-tftp
Architecture: all
Depends: ${misc:Depends}
Description: Fusionpbx-app-tftp: mamge tftp settings
#XSBC-Bugtracker: mailto:r.neese@gmail.com
