Source: fusionpbx-provisioning-template-cisco
Section: user/www
Priority: extra
Maintainer: FusionPBX <debian@fusionpbx.com>
Standards-Version: 3.7.2
#XSBC-Bugtracker: mailto:r.neese@gmail.com

Package: fusionpbx-provisioning-template-cisco
Architecture: all
Depends: ${misc:Depends}
Description: Fusionpbx-provisioning-template-cisco: Provisioning templates for cisco sip phons  
#XSBC-Bugtracker: mailto:r.neese@gmail.com
