Source: fusionpbx-app-dialplan
Section: user/www
Priority: extra
Maintainer: FusionPBX <debian@fusionpbx.com>
Standards-Version: 3.7.2
#XSBC-Bugtracker: mailto:r.neese@gmail.com

Package: fusionpbx-app-dialplan
Architecture: all
Depends: ${misc:Depends}
Description: Fusionpbx-app-dialplan: the dialplan tool is used to setup call destinations based on conditions and context
#XSBC-Bugtracker: mailto:r.neese@gmail.com
