Source: fusionpbx-app-ring-groups
Section: user/www
Priority: extra
Maintainer: FusionPBX <debian@fusionpbx.com>
Standards-Version: 3.7.2
#XSBC-Bugtracker: mailto:r.neese@gmail.com

Package: fusionpbx-app-ring-groups
Architecture: all
Depends: ${misc:Depends}
Description: Fusionpbx-app-ring-groups: A tool to call multiple extensions.
#XSBC-Bugtracker: mailto:r.neese@gmail.com
