#!version:1.0.0.1

##File header "#!version:1.0.0.1" can not be edited or deleted, and must be placed in the first line.##

#######################################################################################
##                                    Custom Softkeys                                   ##
#######################################################################################
softkey.1.enable = 1
softkey.1.label = Intercom 
softkey.1.position = 0 
softkey.1.action = *8$P1N12$ 
softkey.1.use.idle = 1 
softkey.1.use.dialtone = 1