Source: fusionpbx-app-services
Section: user/www
Priority: extra
Maintainer: FusionPBX <debian@fusionpbx.com>
Standards-Version: 3.7.2
#XSBC-Bugtracker: mailto:r.neese@gmail.com

Package: fusionpbx-app-services
Architecture: all
Depends: ${misc:Depends}
Description: Fusionpbx-app-services: Monitor System Services.
#XSBC-Bugtracker: mailto:r.neese@gmail.com
